{% extends 'main/base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a href="{{ url_for('auth.login') }}"> ❱ Login</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <div class="data col-6 col-s-6">
                <div style="padding-left: 18px;">
                    <pre>{{description}}</pre>
                </div>
                <div class="page_image">
                    <div class="image-block">
                        <img src="/main/static/icons/home.png">
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}