{% extends 'home/base.html' %}
    {% block content %}
    <div class="row">
        <div class="col-1 col-s-1">
        </div>
        <div class="col-10 col-s-10">
            {%- for message in get_flashed_messages() %}
            <div>
                {%- if "Error" not in message: %}
                <div class="alert success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                </div>
                {%- endif %}
                {%- if "Error" in message: %}
                <div class="alert error">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                </div>
                {%- endif %}
            </div>
            {%- endfor %}
            <div class="table-overflow">
                <table class="table" id="country">
                    <caption>
                        <div>
                            Count: {{country|length}}
                        </div>
                    </caption>
                    <tr>
                        <th class="center sort" onclick="SortTableTxt('country', 0)">ID</th>
                        <th class="left sort" style="width: 30%;" onclick="SortTableTxt('country', 1)">Country</th>
                        <th class="center sort" style="width: 15%;" onclick="SortTableTxt('country', 1)">Country No.</th>
                        <th class="center sort" style="width: 15%;" onclick="SortTableTxt('country', 1)">Alpha2 code</th>
                        <th class="center sort" style="width: 15%;" onclick="SortTableTxt('country', 1)">Dial code</th>
                        <th class="center sort" style="width: 15%;" onclick="SortTableTxt('country', 1)">Currency Code</th>
                    </tr>
                    {%- for item in country %}
                    <tr>
                        <td class="id">{{ item.country_id }}</td>
                        <td class="left">{{ item.country_name }}</td>
                        <td class="center">{{ item.country_no }}</td>
                        <td class="center">{{ item.alpha2_code }}</td>
                        <td class="center">{{ item.dial_code }}</td>
                        <td class="center">{{ item.currency.currency_code }}</td>
                    </tr>
                    {%- endfor %}
                </table>
                <table class="table" id="currency">
                    <caption>
                        <div>
                            Count: {{currency|length}}
                        </div>
                    </caption>
                    <tr>
                        <th class="center sort" onclick="SortTableTxt('currency', 0)">ID</th>
                        <th class="left sort" style="width: 50%;" onclick="SortTableTxt('currency', 1)">Currency</th>
                        <th class="center sort" style="width: 20%;" onclick="SortTableTxt('currency', 1)">Currency Code</th>
                        <th class="center sort" style="width: 20%;" onclick="SortTableTxt('currency', 1)">Currency No.</th>
                    </tr>
                    {%- for item in currency %}
                    <tr>
                        <td class="id">{{ item.currency_id }}</td>
                        <td class="left">{{ item.currency_name }}</td>
                        <td class="center">{{ item.currency_code }}</td>
                        <td class="center">{{ item.currency_no }}</td>
                    </tr>
                    {%- endfor %}
                </table>
                <table class="table" id="tax">
                    <caption>
                        <div>
                            Count: {{tax|length}}
                        </div>
                    </caption>
                    <tr>
                        <th class="center sort" onclick="SortTableTxt('tax', 0)">ID</th>
                        <th class="left sort" style="width: 30%;" onclick="SortTableTxt('tax', 1)">Tax</th>
                        <th class="center sort" style="width: 20%;" onclick="SortTableTxt('tax', 1)">Tax rate</th>
                        <th class="center sort" style="width: 20%;" onclick="SortTableTxt('tax', 1)">Created</th>
                        <th class="center sort" style="width: 20%;" onclick="SortTableTxt('tax', 1)">Modified</th>
                    </tr>
                    {%- for item in tax %}
                    <tr>
                        <td class="id">{{ item.tax_id }}</td>
                        <td class="left">{{ item.tax_description }}</td>
                        <td class="center">{{ item.tax_rate }}</td>
                        <td class="center">{{ item.created }}</td>
                        <td class="center">{{ item.modified }}</td>
                    </tr>
                    {%- endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endblock %}