{% extends 'base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a href="{{ url_for('admin.job_list') }}"> ❰ Back</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <form action="" method="POST" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <div class="data col-6 col-s-6">
                    {%- for message in get_flashed_messages() %}
                    <div>
                        {%- if "Error" not in message: %}
                        <div class="alert success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                        {%- if "Error" in message: %}
                        <div class="alert error">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                    </div>
                    {%- endfor %}
                    <div class="form container">
                        <div class="form-row {% if form.department_id.errors %}error{% endif %}">
                            <div class="label-col">
                                <label class="field-label" for="department_id">{{ form.department_id.label }}</label>
                            </div>
                            <div class="input-col">
                                {{ form.department_id() }}
                                {%- for error in form.department_id.errors %}
                                {%- if form.department_id.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                                {%- endfor %}
                            </div>
                        </div>
                        <div class="form-row {% if form.job_title.errors %}error{% endif %}">
                            <div class="label-col">
                                <label class="field-label" for="title">{{ form.job_title.label }}</label>
                            </div>
                            <div class="input-col">
                                {{ form.job_title }}
                                {%- for error in form.job_title.errors %}
                                {%- if form.job_title.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                                {%- endfor %}
                            </div>
                        </div>
                        <div class="form-row {% if form.job_description.errors %}error{% endif %}">
                            <div class="label-col">
                                <label class="field-label" for="description">{{ form.job_description.label }}</label>
                            </div>
                            <div class="input-col">
                                {{ form.job_description }}
                                {%- for error in form.job_description.errors %}
                                {%- if form.job_description.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                                {%- endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <input class="field-submit" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}