{% extends 'base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a href="{{ url_for('admin.dashboard') }}"> ❰ Back</a>
            <a href="{{ url_for('admin.job_history') }}"> ❱ History</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <div class="data col-8 col-s-8">
                <div class="table-overflow">
                    {%- for message in get_flashed_messages() %}
                    <div>
                        {%- if "Error" not in message: %}
                        <div class="alert success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                        {%- if "Error" in message: %}
                        <div class="alert error">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                    </div>
                    {%- endfor %}
                    <table class="table-top">
                        <tr>
                            <th class="search">
                                <div class="search-box">
                                    <input class="search-text" id="search" name="search" type="text" placeholder="Search job ?"
                                    onkeyup="SearchFunction('job', 1)">
                                    <input class="search-submit" id="search_submit" value="submit" type="submit">
                                    <img class="icon" src="{{ url_for('.static', filename='icons/find.png') }}">
                                </div>
                            </th>
                            <th class="action">
                                <a href="{{ url_for('admin.job_add') }}">
                                    <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                </a>
                            </th>
                        </tr>
                    </table>
                    <table class="table" id="jobs">
                        <caption>
                            <div>
                                Count: {{list|length}}
                            </div>
                        </caption>
                        <tr>
                            <th class="center sort" onclick="SortTableTxt('list', 0)">ID</th>
                            <th class="text sort" style="width: 90%;" onclick="SortTableTxt('list', 1)">Title</th>
                            <th class="action">Delete</th>
                        </tr>
                        {%- for item in list %}
                        <tr>
                            <td class="id"><a href="{{ url_for('admin.job_edit', id=item.job_id) }}">{{ item.job_id }}</a></td>
                            <td class="text"><a href="{{ url_for('admin.job_edit', id=item.job_id) }}">{{ item.job_title }}</a></td>
                            <td class="action">
                                <input class="icon" type="image" src="{{ url_for('.static', filename='icons/delete.png') }}" id="delete{{ item.job_id }}" 
                                value="{{ url_for('admin.job_delete', id=item.job_id) }}" 
                                onclick="DeleteFunction('delete{{ item.job_id }}')">
                            </td>
                        </tr>
                        {%- endfor %}
                    </table>
                </div>
            </div> 
        </div>
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <form class="modal-content" action="/action_page.php" method="POST" id='form'>
                <div class="modal-container">
                    <h1>Delete job</h1>
                    <p>Are you sure you want to delete this job?</p>
                    <div class="clearfix">
                        <button class="cancelbtn modal-button" type="button" 
                            onclick="document.getElementById('id01').style.display='none'">Cancel
                        </button>
                        <input class="deletebtn modal-button" type="submit" value="Delete" 
                        onclick="document.getElementById('id01').style.display='none'">
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}