{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-6 col-s-6">
        {%- for message in get_flashed_messages() %}
        <div>
            {%- if "Error" not in message: %}
            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
            {%- if "Error" in message: %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
        </div>
        {%- endfor %}
        <div class="sheet-container">
            <div class="sheet-header background">
                <div class="sheet-header-title">
                    <b>{{description}}</b>
                </div>
            </div>
            <div class="sheet-row">
                <div class="sheet-label-col">
                    <div class="sheet-label-text"><b>Name</b></div>
                </div>
                <div class="sheet-data-col">
                    <div class="sheet-data-text">{{ data['name'] }}</div>
                </div>
            </div>
            <div class="sheet-row">
                <div class="sheet-label-col">
                    <div class="sheet-label-text"><b>Email</b></div>
                </div>
                <div class="sheet-data-col">
                    <div class="sheet-data-text">{{ data['email'] }}</div>
                </div>
            </div>
            <div class="sheet-row">
                <div class="sheet-label-col">
                    <div class="sheet-label-text"><b>Role</b></div>
                </div>
                <div class="sheet-data-col">
                    <div class="sheet-data-text">{{ data['role'] }}</div>
                </div>
            </div>
            <div class="sheet-row">
                <div class="sheet-image-col">
                    <img class="sheet-image" src="{{ url_for('static', filename='icons/user.png') }}">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}