{% extends 'home/base.html' %}
    {% block content %}
    <div class="row">
        <div class="col-1 col-s-1">
        </div>
        <div class="col-5 col-s-5">
            {% with messages = get_flashed_messages() %}
            <div>
                {% if messages %}
                <div class="alert error">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ messages[0] }}
                </div>
                {%- endif %}
            </div>
            {% endwith %}
            <form action="" method="POST" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <div class="form-container">                 
                    <div class="form-row {% if form.password.errors %}error{% endif %}">
                        <div class="label-col">
                            <label class="field-label" for="password">{{ form.password.label }}</label>
                        </div>
                        <div class="input-col">
                            {{ form.password() }}
                            {%- for error in form.password.errors %}
                            {%- if form.password.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                            {%- endfor %}
                        </div>
                    </div>
                    <div class="form-row {% if form.confirm.errors %}error{% endif %}">
                        <div class="label-col">
                            <label class="field-label" for="password">{{ form.confirm.label }}</label>
                        </div>
                        <div class="input-col">
                            {{ form.confirm() }}
                            {%- for error in form.confirm.errors %}
                            {%- if form.confirm.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                            {%- endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="submit-col">
                            <input class="field-submit" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}