{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-10 col-s-10">
        {%- for message in get_flashed_messages() %}
        <div>
            {%- if "Error" not in message: %}
            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
            {%- if "Error" in message: %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
        </div>
        {%- endfor %}
        <div class="col-7 col-s-7">
            <div class="table-overflow">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Users</b>
                    </div>
                </div>
                <table class="table-top">
                    <tr>
                        <th class="search">
                            <div class="search-box">
                                <input class="search-text" id="search_user" name="search" type="text" placeholder="Search user ?"
                                onkeyup="SearchFunction('search_user', 'users', 1)">
                                <input class="search-submit" id="search_submit" value="submit" type="submit">
                                <img class="icon" src="{{ url_for('.static', filename='icons/find.png') }}">
                            </div>
                        </th>
                        <th class="action">
                            <a href="{{ url_for('admin.user_add') }}">
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </a>
                        </th>
                    </tr>
                </table>
                <table class="table" id="users">
                    <caption>
                        <div>
                            Count: {{ user_list|length }}
                        </div>
                    </caption>
                    <tr>
                        <th class="id sort" onclick="SortTableTxt('users', 0)">ID</th>
                        <th class="left" style="width: 25%;" onclick="SortTableTxt('users', 1)">Name</th>
                        <th class="left" style="width: 35%;" onclick="SortTableTxt('users', 2)">Email</th>
                        <th class="left" style="width: 30%;" onclick="SortTableTxt('users', 3)">Role</th>
                        <th class="action">Delete</th>
                    </tr>
                    {%- for item in user_list %}
                    <tr>
                        <td class="id"><a href="{{ url_for('admin.user_edit', user_id=item.user_id) }}">{{ item.user_id }}</a></td>
                        <td class="text"><a href="{{ url_for('admin.user_edit', user_id=item.user_id) }}">{{ item.user_name }}</a></td>
                        <td class="text"><a href="{{ url_for('admin.user_edit', user_id=item.user_id) }}">{{ item.email }}</a></td>
                        <td class="text"><a href="{{ url_for('admin.user_edit', user_id=item.user_id) }}">{{ item.role.role_name }}</a></td>
                        <td class="action">
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete{{ item.user_id}}" 
                            value="{{ url_for('admin.user_delete', user_id=item.user_id) }}" 
                            onclick="DeleteFunction('delete{{ item.user_id}}', 'user')">
                        </td>
                    </tr>
                    {%- endfor %}
                </table>
            </div>
        </div>
        <div class="prefix-col">
        </div>
        <div class="col-4 col-s-4">
            <div class="table-overflow">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Roles</b>
                    </div>
                </div>
                <table class="table-top">
                    <tr>
                        <th class="search">
                            <div class="search-box">
                                <input class="search-text" id="search_role" name="search" type="text" placeholder="Search role ?"
                                onkeyup="SearchFunction('search_role', 'roles', 1)">
                                <input class="search-submit" id="search_submit" value="submit" type="submit">
                                <img class="icon" src="{{ url_for('.static', filename='icons/find.png') }}">
                            </div>
                        </th>
                        <th class="action">
                            <a href="{{ url_for('admin.role_add') }}">
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </a>
                        </th>
                    </tr>
                </table>
                <table class="table" id="roles">
                    <caption>
                        <div>
                            Count: {{ role_list|length }}
                        </div>
                    </caption>
                    <tr>
                        <th class="id sort" onclick="SortTableTxt('roles', 0)">ID</th>
                        <th class="left" style="width: 80%;" onclick="SortTableTxt('roles', 1)">Name</th>
                        <th class="action">Delete</th>
                    </tr>
                    {%- for item in role_list %}
                    <tr>
                        <td class="id"><a href="{{ url_for('admin.role_edit', role_id=item.role_id) }}">{{ item.role_id }}</a></td>
                        <td class="text"><a href="{{ url_for('admin.role_edit', role_id=item.role_id) }}">{{ item.role_name }}</a></td>
                        <td class="action">
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete{{ item.role_id}}" 
                            value="{{ url_for('admin.role_delete', role_id=item.role_id) }}" 
                            onclick="DeleteFunction('delete{{ item.role_id}}', 'role')">
                        </td>
                    </tr>
                    {%- endfor %}
                </table>
            </div>
        </div> 
    </div>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content" action="/action_page.php" method="POST" id='form'>
            <div class="modal-container">
                <h1 id="msg-h1"></h1>
                <p id="msg-p"></p>
                <div class="clearfix">
                    <button class="cancelbtn modal-button" type="button" 
                        onclick="document.getElementById('id01').style.display='none'">Cancel
                    </button>
                    <input class="deletebtn modal-button" type="submit" value="Delete" 
                    onclick="document.getElementById('id01').style.display='none'">
                </div>
            </div>
        </form>
    </div>
    {% endblock %}