{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-10 col-s-10">
        {%- for message in get_flashed_messages() %}
        <div>
            {%- if "Error" not in message: %}
            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
            {%- if "Error" in message: %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
        </div>
        {%- endfor %}
        <div class="col-3 col-s-3">
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Departments</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.department_add') }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add department</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in department_list %}
                <div class="sheet-row">
                    <div class="sheet-tab-col">
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete department</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_department{{ item.department_id }}" 
                            value="{{ url_for('hr.department_delete', employee_id=employee_id, department_id=item.department_id) }}" 
                            onclick="DeleteFunction('delete_department{{ item.department_id }}', 'department')">
                        </div>
                    </div>
                    <div class="sheet-list-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.department_edit', employee_id=employee_id, department_id=item.department_id) }}">
                                <div>{{loop.index}} - {{ item.department_name }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
        <div class="col-3 col-s-3">
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Jobs</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.job_add') }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add job</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in job_list %}
                <div class="sheet-row">
                    <div class="sheet-tab-col">
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete job</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_job{{ item.job_id }}" 
                            value="{{ url_for('hr.job_delete', employee_id=employee_id, job_id=item.job_id) }}" 
                            onclick="DeleteFunction('delete_job{{ item.job_id }}', 'job')">
                        </div>
                    </div>
                    <div class="sheet-list-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.job_edit', employee_id=employee_id, job_id=item.job_id) }}">
                                <div>{{loop.index}} - {{ item.job_title }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
        <div class="col-3 col-s-3">
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Jobs status</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.status_add') }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add status</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in status_list %}
                <div class="sheet-row">
                    <div class="sheet-tab-col">
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete status</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_status{{ item.status_id }}" 
                            value="{{ url_for('hr.status_delete', employee_id=employee_id, status_id=item.status_id) }}" 
                            onclick="DeleteFunction('delete_status{{ item.status_id }}', 'job status')">
                        </div>
                    </div>
                    <div class="sheet-list-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.status_edit', employee_id=employee_id, status_id=item.status_id) }}">
                                <div>{{loop.index}} - {{ item.status_title }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Jobs terms</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.terms_add') }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add term</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in terms_list %}
                <div class="sheet-row">
                    <div class="sheet-tab-col">
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete term</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_term{{ item.terms_id }}" 
                            value="{{ url_for('hr.terms_delete', employee_id=employee_id, terms_id=item.terms_id) }}" 
                            onclick="DeleteFunction('delete_term{{ item.terms_id }}', 'term term')">
                        </div>
                    </div>
                    <div class="sheet-list-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.terms_edit', employee_id=employee_id, terms_id=item.terms_id) }}">
                                <div>{{loop.index}} - {{ item.terms }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
        <div class="col-3 col-s-3">
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Title</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.title_add') }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add title</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in title_list %}
                <div class="sheet-row">
                    <div class="sheet-tab-col">
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete title</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_title{{ item.title_id }}" 
                            value="{{ url_for('hr.title_delete', employee_id=employee_id, title_id=item.title_id) }}" 
                            onclick="DeleteFunction('delete_title{{ item.title_id }}', 'title')">
                        </div>
                    </div>
                    <div class="sheet-list-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.title_edit', employee_id=employee_id, title_id=item.title_id) }}">
                                <div>{{loop.index}} - {{ item.title_name }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Genders</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.gender_add') }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add gender</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in gender_list %}
                <div class="sheet-row">
                    <div class="sheet-tab-col">
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete gender</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_gender{{ item.gender_id }}" 
                            value="{{ url_for('hr.gender_delete', employee_id=employee_id, gender_id=item.gender_id) }}" 
                            onclick="DeleteFunction('delete_gender{{ item.gender_id }}', 'gender')">
                        </div>
                    </div>
                    <div class="sheet-list-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.gender_edit', employee_id=employee_id, gender_id=item.gender_id) }}">
                                <div>{{loop.index}} - {{ item.gender }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Marital status</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.marital_add') }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add marital</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in marital_list %}
                <div class="sheet-row">
                    <div class="sheet-tab-col">
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete marital</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_marital{{ item.marital_id }}" 
                            value="{{ url_for('hr.marital_delete', employee_id=employee_id, marital_id=item.marital_id) }}" 
                            onclick="DeleteFunction('delete_marital{{ item.marital_id }}', 'marital status')">
                        </div>
                    </div>
                    <div class="sheet-list-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.marital_edit', employee_id=employee_id, marital_id=item.marital_id) }}">
                                <div>{{loop.index}} - {{ item.marital_status }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
    </div>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content" action="/action_page.php" method="POST" id='form'>
            <div class="modal-container">
                <h1 id="msg-h1"></h1>
                <p id="msg-p"></p>
                <div class="clearfix">
                    <button class="cancelbtn modal-button" type="button" 
                        onclick="document.getElementById('id01').style.display='none'">Cancel
                    </button>
                    <input class="deletebtn modal-button" type="submit" value="Delete" 
                    onclick="document.getElementById('id01').style.display='none'">
                </div>
            </div>
        </form>
    </div>
    {% endblock %}