{% extends 'home/base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a class="menu-link" href="{{ url_for('hr.employee_list') }}"> ❰ Back</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <div class="data col-6 col-s-6">
                <div class="table-overflow">
                    {%- for message in get_flashed_messages() %}
                    <div>
                        {%- if "Error" not in message: %}
                        <div class="alert success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                        {%- if "Error" in message: %}
                        <div class="alert error">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                    </div>
                    {%- endfor %}
                    <table class="table-top">
                        <tr>
                            <th class="search">
                                <div class="search-box">
                                    <input class="search-text" id="search" name="search" type="text" placeholder="Search department ?"
                                    onkeyup="SearchFunction('department', 1)">
                                    <input class="search-submit" id="search_submit" value="submit" type="submit">
                                    <img class="icon" src="{{ url_for('.static', filename='icons/find.png') }}">
                                </div>
                            </th>
                            <th class="action">
                                <a href="{{ url_for('hr.department_add') }}">
                                    <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                </a>
                            </th>
                        </tr>
                    </table>
                    <table class="table" id="departments">
                        <caption>
                            <div>
                                Count: {{list|length}}
                            </div>
                        </caption>
                        <tr>
                            <th class="id sort" onclick="SortTableTxt('list', 0)">ID</th>
                            <th class="text sort" style="width: 90%;" onclick="SortTableTxt('list', 1)">Name</th>
                            <th class="action">Delete</th>
                        </tr>
                        {%- for item in list %}
                        <tr>
                            <td class="id"><a href="{{ url_for('hr.department_edit', department_id=item.department_id) }}">{{ item.department_id }}</a></td>
                            <td class="text"><a href="{{ url_for('hr.department_edit', department_id=item.department_id) }}">{{ item.department_name }}</a></td>
                            <td class="action">
                                <input class="icon" type="image" src="{{ url_for('.static', filename='icons/delete.png') }}" id="delete{{ item.department_id }}" 
                                value="{{ url_for('hr.department_delete', department_id=item.department_id) }}" 
                                onclick="DeleteFunction('delete{{ item.department_id }}', 'department')">
                            </td>
                        </tr>
                        {%- endfor %}
                    </table>
                </div>
            </div> 
        </div>
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <form class="modal-content" action="/action_page.php" method="POST" id='form'>
                <div class="modal-container">
                    <h1 id="msg-h1"></h1>
                    <p id="msg-p"></p>
                    <div class="clearfix">
                        <button class="cancelbtn modal-button" type="button" 
                            onclick="document.getElementById('id01').style.display='none'">Cancel
                        </button>
                        <input class="deletebtn modal-button" type="submit" value="Delete" 
                        onclick="document.getElementById('id01').style.display='none'">
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}