{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-5 col-s-5">
        {%- for message in get_flashed_messages() %}
        <div>
            {%- if "Error" not in message: %}
            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
            {%- if "Error" in message: %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
        </div>
        {%- endfor %}
        <form action="" method="POST" enctype=multipart/form-data>
            {{ form.csrf_token }}
            <div class="form-container">
                <div class="form-row {% if form.email.errors %}error{% endif %}">
                    <div class="label-col">
                        <label class="field-label" for="email">{{ form.email.label }}</label>
                    </div>
                    <div class="input-col">
                        {{ form.email}}
                        {%- for error in form.email.errors %}
                        {%- if form.email.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                        {%- endfor %}
                    </div>
                </div>
                <div class="form-row {% if form.label.errors %}error{% endif %}">
                    <div class="label-col">
                        <label class="field-label" for="label">{{ form.label.label }}</label>
                    </div>
                    <div class="input-col">
                        {{ form.label}}
                        {%- for error in form.label.errors %}
                        {%- if form.label.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                        {%- endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="submit-col">
                        <input class="field-submit" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}