{% extends 'base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a class="menu-link" href="{{ url_for('hr.employee_list') }}"> ❰ Back</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <div class="data col-8 col-s-8">
                <div class="table-overflow">
                    <table class="table-top">
                        <tr>
                            <th class="search">
                                <div class="search-box">
                                    <input class="search-text" id="search" name="search" type="text" placeholder="Search job ?"
                                    onkeyup="SearchFunction('job', 1)">
                                    <input class="search-submit" id="search_submit" value="submit" type="submit">
                                    <img class="icon" src="{{ url_for('.static', filename='icons/find.png') }}">
                                </div>
                            </th>
                        </tr>
                    </table>
                    <table class="table" id="history">
                        <caption>
                            <div>
                                Count: {{list|length}}
                            </div>
                        </caption>
                        <tr>
                            <th class="id sort" onclick="SortTableTxt('list', 0)">ID</th>
                            <th class="center sort" style="width: 15%;" onclick="SortTableTxt('list', 1)">Employee ID</th>
                            <th class="left sort" style="width: 60%;" onclick="SortTableTxt('list', 2)">Event</th>
                            <th class="center sort" style="width: 15%;" onclick="SortTableTxt('list', 3)">Created</th>
                        </tr>
                        {%- for item in list %}
                        <tr>
                            <td class="id">{{ item.event_id }}</td>
                            <td class="center">{{ item.employee_id }}</td>
                            <td class="left">{{ item.event_description}}</td>
                            <td class="right">{{ item.created }}</td>
                        </tr>
                        {%- endfor %}
                    </table>
                </div>
            </div> 
        </div>
    {% endblock %}