{% extends 'home/base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a class="menu-link" href="{{ url_for('hr.dashboard') }}"> ❰ Back</a>
            <a class="menu-link" href="{{ url_for('hr.department_list') }}"> ❱ Departments</a>
            <a class="menu-link" href="{{ url_for('hr.job_list') }}"> ❱ Jobs</a>
            <a class="menu-link" href="{{ url_for('hr.gender_list') }}"> ❱ Genders</a>
            <a class="menu-link" href="{{ url_for('hr.marital_list') }}"> ❱ Marital status</a>
            <a class="menu-link" href="{{ url_for('hr.employee_history') }}"> ❱ History</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <div class="data col-10 col-s-10">
                <div class="table-overflow">
                    {%- for message in get_flashed_messages() %}
                    <div>
                        {%- if "Error" not in message: %}
                        <div class="alert success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                        {%- if "Error" in message: %}
                        <div class="alert error">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                    </div>
                    {%- endfor %}
                    <table class="table-top">
                        <tr>
                            <th class="search">
                                <div class="search-box">
                                    <input class="search-text" id="search" name="search" type="text" placeholder="Search employee ?"
                                    onkeyup="SearchFunction('employee', 1)">
                                    <input class="search-submit" id="search_submit" value="submit" type="submit">
                                    <img class="icon" src="{{ url_for('.static', filename='icons/find.png') }}">
                                </div>
                            </th>
                            <th class="action">
                                <a href="{{ url_for('hr.employee_add') }}">
                                    <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                </a>
                            </th>
                        </tr>
                    </table>
                    <table class="table" id="employees">
                        <caption>
                            <div>
                                Count: {{list|length}}
                            </div>
                        </caption>
                        <tr>
                            <th class="center sort" onclick="SortTableTxt('list', 0)">ID</th>
                            <th class="left sort" style="width: 25%;" onclick="SortTableTxt('list', 1)">Employee</th>
                            <th class="left sort" style="width: 15%;" onclick="SortTableTxt('list', 1)">Birthdate</th>
                            <th class="left sort" style="width: 15%;" onclick="SortTableTxt('list', 1)">Gender</th>
                            <th class="left sort" style="width: 15%;" onclick="SortTableTxt('list', 1)">Marital status</th>
                            <th class="center sort" style="width: 15%;" onclick="SortTableTxt('list', 1)">Modified</th>
                            <th class="action">Delete</th>
                        </tr>
                        {%- for item in list %}
                        <tr>
                            <td class="id"><a href="{{ url_for('hr.employee_edit', employee_id=item.employee_id) }}">{{ item.employee_id }}</a></td>
                            <td class="left"><a href="{{ url_for('hr.employee_index', employee_id=item.employee_id) }}">{{ item.employee_name }} {{ item.employee_surname }}</a></td>
                            <td class="left"><a href="{{ url_for('hr.employee_index', employee_id=item.employee_id) }}">{{ item.birthdate }}</a></td>
                            <td class="left"><a href="{{ url_for('hr.employee_index', employee_id=item.employee_id) }}">{{ item.gender.gender }}</a></td>
                            <td class="left"><a href="{{ url_for('hr.employee_index', employee_id=item.employee_id) }}">{{ item.marital.marital_status }}</a></td>
                            <td class="center"><a href="{{ url_for('hr.employee_index', employee_id=item.employee_id) }}">{{ item.modified }}</a></td>
                            <td class="action">
                                <input class="icon" type="image" src="{{ url_for('.static', filename='icons/delete.png') }}" id="delete{{ item.employee_id }}" 
                                value="{{ url_for('hr.employee_delete', employee_id=item.employee_id) }}" 
                                onclick="DeleteFunction('delete{{ item.employee_id }}', 'employee')">
                            </td>
                        </tr>
                        {%- endfor %}
                    </table>
                </div>
            </div> 
        </div>
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <form class="modal-content" action="/action_page.php" method="POST" id='form'>
                <div class="modal-container">
                    <h1 id="msg-h1"></h1>
                    <p id="msg-p"></p>
                    <div class="clearfix">
                        <button class="cancelbtn modal-button" type="button" 
                            onclick="document.getElementById('id01').style.display='none'">Cancel
                        </button>
                        <input class="deletebtn modal-button" type="submit" value="Delete" 
                        onclick="document.getElementById('id01').style.display='none'">
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}