{% extends 'home/base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a class="menu-link" href="{{ url_for('hr.employee_list') }}"> ❰ Back</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <div class="data col-6 col-s-6">
                {%- for message in get_flashed_messages() %}
                <div>
                    {%- if "Error" not in message: %}
                    <div class="alert success">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                    </div>
                    {%- endif %}
                    {%- if "Error" in message: %}
                    <div class="alert error">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                    </div>
                    {%- endif %}
                </div>
                {%- endfor %}
                <div class="sheet container">
                    <div class="sheet-row header">
                        <div class="sheet-col header">
                            <b>General information</b>
                        </div>
                    </div>
                    {%- for item in data_list %}
                    <div class="sheet-row">
                        <div class="sheet-label-col">
                            <div class="sheet-label-text"><b>Name</b></div>
                        </div>
                        <div class="sheet-data-col">
                            <div class="sheet-data-text">
                                <a class="data-link" href="{{ url_for('hr.employee_edit', employee_id=employee_id) }}">
                                    <div>{{ item.title.title_name }} {{ item.employee_name }} {{ item.employee_surname }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="sheet-row">
                        <div class="sheet-label-col">
                            <div class="sheet-label-text"><b>Birthdate</b></div>
                        </div>
                        <div class="sheet-data-col">
                            <div class="sheet-data-text">{{ item.birthdate }}</div>
                        </div>
                    </div>
                    <div class="sheet-row">
                        <div class="sheet-label-col">
                            <div class="sheet-label-text"><b>Gender</b></div>
                        </div>
                        <div class="sheet-data-col">
                            <div class="sheet-data-text">{{ item.gender.gender }}</div>
                        </div>
                    </div>
                    <div class="sheet-row">
                        <div class="sheet-label-col">
                            <div class="sheet-label-text"><b>Marital status</b></div>
                        </div>
                        <div class="sheet-data-col">
                            <div class="sheet-data-text">{{ item.marital.marital_status }}</div>
                        </div>
                    </div>
                    {%- endfor %}
                </div>
                <div class="sheet container">
                    <div class="sheet-row header">
                        <div class="sheet-col header">
                            <b>Job history</b>
                        </div>
                        <div class="sheet-col icon">
                            <a class="sheet-icon" href="{{ url_for('hr.job_history_add', employee_id=employee_id) }}">
                                <div class="tooltip">
                                    <span class="tooltiptext">Add job</span>
                                    <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                </div>
                            </a>
                        </div>
                    </div>
                    {%- for item in job_history_list %}
                    <div class="sheet-row">
                        <div class="sheet-label-col">
                            <div class="sheet-label-text"><b>Job {{loop.index}}</b></div>
                        </div>
                        <div class="sheet-icon-col">
                            <div class="tooltip">
                                <span class="tooltiptext">Delete job</span>
                                <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_job_history{{ item.job_history_id }}" 
                                value="{{ url_for('hr.job_history_delete', employee_id=employee_id, job_history_id=item.job_history_id) }}" 
                                onclick="DeleteFunction('delete_job_history{{ item.job_history_id }}', 'job history')">
                            </div>
                        </div>
                        <div class="sheet-data-col">
                            <div class="sheet-data-text">
                                <a class="data-link" href="{{ url_for('hr.job_history_edit', employee_id=employee_id, job_history_id=item.job_history_id) }}">
                                    <div>{{ item.department.department_name }}</div>
                                    <div>{{ item.job.job_title }}</div>
                                    <div>{{ item.job_terms.terms }}</div>
                                </a>
                                <a class="data-link" href="{{ url_for('hr.job_history_complete', employee_id=employee_id, job_history_id=item.job_history_id) }}">
                                    <div>{{ item.job_status.status_title }}</div>
                                    <div>{{ item.start_date}} -> {%- if item.end_date == None %} Now {%- else %} {{ item.end_date}} {%- endif %}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%- endfor %}
                </div>
                <div class="sheet container">
                    <div class="sheet-row header">
                        <div class="sheet-col header">
                            <b>Contact information</b>
                        </div>
                        <div class="sheet-col icon">
                            <a class="sheet-icon" href="{{ url_for('hr.email_add', employee_id=employee_id) }}">
                                <div class="tooltip">
                                    <span class="tooltiptext">Add email</span>
                                    <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                </div>
                            </a>
                        </div>
                    </div>
                    {%- for item in email_list %}
                    <div class="sheet-row">
                        <div class="sheet-label-col">
                            <div class="sheet-label-text"><b>{{ item.label }} email</b></div>
                        </div>
                        <div class="sheet-icon-col">
                            <div class="tooltip">
                                <span class="tooltiptext">Delete email</span>
                                <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_email{{ item.email_id }}" 
                                value="{{ url_for('hr.email_delete', employee_id=employee_id, email_id=item.email_id) }}" 
                                onclick="DeleteFunction('delete_email{{ item.email_id }}', 'email')">
                            </div>
                        </div>
                        <div class="sheet-data-col">
                            <div class="sheet-data-text">
                                <a class="data-link" href="{{ url_for('hr.email_edit', employee_id=employee_id, email_id=item.email_id) }}">
                                    <div>{{ item.email }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%- endfor %}
                    <div class="sheet-row header">
                        <div class="sheet-col header">
                            <b></b>
                        </div>
                        <div class="sheet-col icon">
                            <a class="sheet-icon" href="{{ url_for('hr.phone_add', employee_id=employee_id) }}">
                                <div class="tooltip">
                                    <span class="tooltiptext">Add phone</span>
                                    <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                </div>
                            </a>
                        </div>
                    </div>
                    {%- for item in phone_list %}
                    <div class="sheet-row">
                        <div class="sheet-label-col">
                            <div class="sheet-label-text"><b>{{ item.label }} phone</b></div>
                        </div>
                        <div class="sheet-icon-col">
                            <div class="tooltip">
                                <span class="tooltiptext">Delete phone</span>
                                <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_phone{{ item.phone_id }}" 
                                value="{{ url_for('hr.phone_delete', employee_id=employee_id, phone_id=item.phone_id) }}" 
                                onclick="DeleteFunction('delete_phone{{ item.phone_id }}', 'phone')">
                            </div>
                        </div>
                        <div class="sheet-data-col">
                            <div class="sheet-data-text">
                                <a class="data-link" href="{{ url_for('hr.phone_edit', employee_id=employee_id, phone_id=item.phone_id) }}">
                                    <div>({{ item.dial_code }}) {{ item.phone_number }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%- endfor %}
                    <div class="sheet-row header">
                        <div class="sheet-col header">
                            <b></b>
                        </div>
                        <div class="sheet-col icon">
                            <a class="sheet-icon" href="{{ url_for('hr.address_add', employee_id=employee_id) }}">
                                <div class="tooltip">
                                    <span class="tooltiptext">Add address</span>
                                    <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                </div>
                            </a>
                        </div>
                    </div>
                    {%- for item in address_list %}
                    <div class="sheet-row">
                        <div class="sheet-label-col">
                            <div class="sheet-label-text"><b>Address {{loop.index}}</b></div>
                        </div>
                        <div class="sheet-icon-col">
                            <div class="tooltip">
                                <span class="tooltiptext">Delete address</span>
                                <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_address{{ item.address_id }}" 
                                value="{{ url_for('hr.address_delete', employee_id=employee_id, address_id=item.address_id) }}" 
                                onclick="DeleteFunction('delete_address{{ item.address_id }}', 'address')">
                            </div>
                        </div>
                        <div class="sheet-data-col">
                            <div class="sheet-data-text">
                                <a class="data-link" href="{{ url_for('hr.address_edit', employee_id=employee_id, address_id=item.address_id) }}">
                                    <div>{{ item.address1 }}</div>
                                    <div>{{ item.address2 }}</div>
                                    <div>{{ item.postal_code }} {{ item.city }}</div>
                                    <div>{{ item.state }}</div>
                                    <div>{{ item.country.country_name }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%- endfor %}
                </div>
            </div>
            <div class="data col-3 col-s-3">
                <div class="page_image">
                    <div class="image-block">
                        <img src= "{{ url_for('static', filename='icons/user.png') }}">
                    </div>
                </div>
            </div>
        </div>
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <form class="modal-content" action="/action_page.php" method="POST" id='form'>
                <div class="modal-container">
                    <h1 id="msg-h1"></h1>
                    <p id="msg-p"></p>
                    <div class="clearfix">
                        <button class="cancelbtn modal-button" type="button" 
                            onclick="document.getElementById('id01').style.display='none'">Cancel
                        </button>
                        <input class="deletebtn modal-button" type="submit" value="Delete" 
                        onclick="document.getElementById('id01').style.display='none'">
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}