{% extends 'home/base.html' %}j
    {% block content %}
    <div class="col-10 col-s-10">
        {%- for message in get_flashed_messages() %}
        <div>
            {%- if "Error" not in message: %}
            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
            {%- if "Error" in message: %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
        </div>
        {%- endfor %}
        <div class="col-6 col-s-6">
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>General information</b>
                    </div>
                    {%- if employee_info|length == 0 %}
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.employee_info_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add employee information</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                    {%- endif %}
                </div>
                {%- for item in employee_info %}
                <div class="sheet-row">
                    <div class="sheet-core-data-col">
                        <div class="sheet-row">
                            <div class="sheet-label-col">
                                <div class="sheet-label-text"><b>Name</b></div>
                            </div>
                            <div class="sheet-icon-col">
                                <div class="tooltip">
                                    <span class="tooltiptext">Delete employee information</span>
                                    <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_citizen{{ item.info_id }}" 
                                    value="{{ url_for('hr.employee_info_delete', employee_id=employee_id, info_id=item.info_id) }}" 
                                    onclick="DeleteFunction('delete_citizen{{ item.info_id }}', 'employee information')">
                                </div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.title.title }} {{ item.given_name }} {{ item.surname }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Passport Nº</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.passport_no }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>ID Card Nº</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.id_card_no }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Nationality</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.nationality }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Place of birth</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.place_of_birth.country_name }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Birthdate</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.birthdate }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Gender</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.gender.gender }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Marital status</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.marital.marital_status }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Tax Identification Nº</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.tin }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Social Security Nº</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.ssn }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-row">
                            <div class="sheet-label-1-col">
                                <div class="sheet-label-text"><b>Bank Account Nº</b></div>
                            </div>
                            <div class="sheet-data-col">
                                <div class="sheet-data-text">
                                    <a class="data-link" href="{{ url_for('hr.employee_info_edit', employee_id=employee_id, info_id=item.info_id) }}">
                                        <div>{{ item.iban }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sheet-image-col">
                        <img src= "{{ url_for('static', filename='icons/user.png') }}" width="150">
                    </div>
                </div>
                {%- endfor %}
            </div>
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Contact information</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.email_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add email</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in email_list %}
                <div class="sheet-row">
                    <div class="sheet-label-col">
                        <div class="sheet-label-text"><b>Email {{loop.index}}</b></div>
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete email</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_email{{ item.email_id }}" 
                            value="{{ url_for('hr.email_delete', employee_id=employee_id, email_id=item.email_id) }}" 
                            onclick="DeleteFunction('delete_email{{ item.email_id }}', 'email')">
                        </div>
                    </div>
                    <div class="sheet-data-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.email_edit', employee_id=employee_id, email_id=item.email_id) }}">
                                <div>{{ item.email }} ({{ item.label }})</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b></b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.phone_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add phone</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in phone_list %}
                <div class="sheet-row">
                    <div class="sheet-label-col">
                        <div class="sheet-label-text"><b>Phone {{loop.index}}</b></div>
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete phone</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_phone{{ item.phone_id }}" 
                            value="{{ url_for('hr.phone_delete', employee_id=employee_id, phone_id=item.phone_id) }}" 
                            onclick="DeleteFunction('delete_phone{{ item.phone_id }}', 'phone')">
                        </div>
                    </div>
                    <div class="sheet-data-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.phone_edit', employee_id=employee_id, phone_id=item.phone_id) }}">
                                <div>({{ item.dial_code }}) {{ item.phone_number }} ({{ item.label }})</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b></b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.address_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add address</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in address_list %}
                <div class="sheet-row">
                    <div class="sheet-label-col">
                        <div class="sheet-label-text"><b>Address {{loop.index}}</b></div>
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete address</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_address{{ item.address_id }}" 
                            value="{{ url_for('hr.address_delete', employee_id=employee_id, address_id=item.address_id) }}" 
                            onclick="DeleteFunction('delete_address{{ item.address_id }}', 'address')">
                        </div>
                    </div>
                    <div class="sheet-data-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.address_edit', employee_id=employee_id, address_id=item.address_id) }}">
                                <div>{{ item.address1 }}</div>
                                <div>{{ item.address2 }}</div>
                                <div>{{ item.postal_code }} {{ item.city }}</div>
                                <div>{{ item.state }}</div>
                                <div>{{ item.country.country_name }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
        <div class="col-6 col-s-6">
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Job history</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.job_history_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add job</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in job_history_list %}
                <div class="sheet-row">
                    <div class="sheet-label-col">
                        <div class="sheet-label-text"><b>Job {{loop.index}}</b></div>
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete job</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_job_history{{ item.job_history_id }}" 
                            value="{{ url_for('hr.job_history_delete', employee_id=employee_id, job_history_id=item.job_history_id) }}" 
                            onclick="DeleteFunction('delete_job_history{{ item.job_history_id }}', 'job history')">
                        </div>
                    </div>
                    <div class="sheet-data-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.job_history_edit', employee_id=employee_id, job_history_id=item.job_history_id) }}">
                                <div>{{ item.department.department_name }}</div>
                                <div>{{ item.job.job_title }}</div>
                                <div>{{ item.job_terms.terms }}</div>
                            </a>
                            <a class="data-link" href="{{ url_for('hr.job_history_complete', employee_id=employee_id, job_history_id=item.job_history_id) }}">
                                <div>{{ item.job_status.title }}</div>
                                <div>{{ item.start_date}} -> {%- if item.end_date == None %} Now {%- else %} {{ item.end_date}} {%- endif %}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Leave</b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.leave_balance_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add leave</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in leave_balance_list %}
                <div class="sheet-row">
                    <div class="sheet-label-col">
                        <div class="sheet-label-text"><b>Leave {{loop.index}}</b></div>
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete leave</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_leave_balance{{ item.balance_id }}" 
                            value="{{ url_for('hr.leave_balance_delete', employee_id=employee_id, balance_id=item.balance_id) }}" 
                            onclick="DeleteFunction('delete_leave_balance{{ item.balance_id }}', 'leave balance')">
                        </div>
                    </div>
                    <div class="sheet-data-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.leave_balance_edit', employee_id=employee_id, balance_id=item.balance_id) }}">
                                <div>{{ item.leave_type.type_title }}</div>
                                <div>- Expiry date: {{ item.expiry_date.strftime('%Y-%m-%d') }}</div>
                                <div>- Leave days: {{ item.leave_days }}</div>
                                <div>- Balance: {{ item.leave_balance }}</div>
                            </a>
                            <div class="sheet-row-header">
                                <div class="sheet-col-sub-header">- Taken: {{ item.leave_taken }}</div>
                                {%- if item.leave_taken < item.leave_days %}
                                <div>
                                    <a class="sheet-col-sub-icon" href="{{ url_for('hr.leave_taken_add', employee_id=employee_id, balance_id=item.balance_id) }}">
                                        <div class="tooltip">
                                            <span class="tooltiptext">Add taken</span>
                                            <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                        </div>
                                    </a>
                                </div>
                                {%- endif %}
                            </div>
                            {%- for child in leave_taken_list %}
                            {%- if child.balance_id == item.balance_id %}
                            <div class="sheet-row">
                                <div class="sheet-icon-col">
                                    <div class="tooltip">
                                        <span class="tooltiptext">Delete taken</span>
                                        <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_leave_taken{{ child.taken_id }}" 
                                        value="{{ url_for('hr.leave_taken_delete', employee_id=employee_id, balance_id=item.balance_id, taken_id=child.taken_id) }}" 
                                        onclick="DeleteFunction('delete_leave_taken{{ child.taken_id }}', 'leave taken')">
                                    </div>
                                </div>
                                <div class="sheet-sub-data-col">
                                    <div class="sheet-data-text" >
                                        <a class="data-link" href="{{ url_for('hr.leave_taken_edit', employee_id=employee_id, balance_id=item.balance_id, taken_id=child.taken_id) }}">
                                            <div>{{ child.start_date.strftime('%Y-%m-%d') }} -> {{ child.end_date.strftime('%Y-%m-%d') }} ({{ child.delta() }} days)</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {%- endif %}
                            {%- endfor %}
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>

            <div class="sheet-container">
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b>Earnings</b>
                    </div>
                    {%- if salary_list|length == 0 %}
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.salary_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add salary</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                    {%- endif %}
                </div>
                {%- for item in salary_list %}
                <div class="sheet-row">
                    <div class="sheet-label-col">
                        <div class="sheet-label-text"><b>Salary / Wage</b></div>
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete salary</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_salary{{ item.salary_id }}" 
                            value="{{ url_for('hr.salary_delete', employee_id=employee_id, salary_id=item.salary_id) }}" 
                            onclick="DeleteFunction('delete_salary{{ item.salary_id }}', 'salary')">
                        </div>
                    </div>
                    <div class="sheet-data-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.salary_edit', employee_id=employee_id, salary_id=item.salary_id) }}">
                                <div>{{ item.gross_value }} {{ item.currency.currency_symbol }} x {{ item.series }} per {{ item.period.title }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
                <div class="sheet-row-header">
                    <div class="sheet-col-header">
                        <b></b>
                    </div>
                    <div class="sheet-col-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.benefit_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add benefit</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in benefit_list %}
                <div class="sheet-row">
                    <div class="sheet-label-col">
                        <div class="sheet-label-text"><b>Benefit {{loop.index}}</b></div>
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete benefit</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_benefit{{ item.benefit_id }}" 
                            value="{{ url_for('hr.benefit_delete', employee_id=employee_id, benefit_id=item.benefit_id) }}" 
                            onclick="DeleteFunction('delete_benefit{{ item.benefit_id }}', 'benefit')">
                        </div>
                    </div>
                    <div class="sheet-data-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.benefit_edit', employee_id=employee_id, benefit_id=item.benefit_id) }}">
                                <div>{{ item.gross_value }} {{ item.currency.currency_symbol }} x {{ item.series }} per {{ item.period.title }} ({{ item.benefit_type.title }})</div>
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>

        </div>
    </div>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content" action="/action_page.php" method="POST" id='form'>
            <div class="modal-container">
                <h1 id="msg-h1"></h1>
                <p id="msg-p"></p>
                <div class="clearfix">
                    <button class="cancelbtn modal-button" type="button" 
                        onclick="document.getElementById('id01').style.display='none'">Cancel
                    </button>
                    <input class="deletebtn modal-button" type="submit" value="Delete" 
                    onclick="document.getElementById('id01').style.display='none'">
                </div>
            </div>
        </form>
    </div>
    {% endblock %}