{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-6 col-s-6">
        {%- for message in get_flashed_messages() %}
        <div>
            {%- if "Error" not in message: %}
            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
            {%- if "Error" in message: %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
        </div>
        {%- endfor %}
        <div class="table-overflow">
            <table class="table-top">
                <tr>
                    <th class="search">
                        <div class="search-box">
                            <input class="search-text" id="search_employee" name="search" type="text" placeholder="Search employee ?"
                            onkeyup="SearchFunction('search_employee', 'employees', 1)">
                            <input class="search-submit" id="search_submit" value="submit" type="submit">
                            <img class="icon" src="{{ url_for('.static', filename='icons/find.png') }}">
                        </div>
                    </th>
                    <th class="action">
                        <a href="{{ url_for('hr.employee_add') }}">
                            <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                        </a>
                    </th>
                </tr>
            </table>
            <table class="table" id="employees">
                <caption>
                    <div>
                        Count: {{list|length}}
                    </div>
                </caption>
                <tr>
                    <th class="center sort" onclick="SortTableTxt('employees', 0)">ID</th>
                    <th class="center sort" style="width: 13%;" onclick="SortTableTxt('employees', 1)">Employee Nº</th>
                    <th class="left sort" style="width: 30%;" onclick="SortTableTxt('employees', 1)">Employee</th>
                    <th class="center sort" style="width: 10%;" onclick="SortTableTxt('employees', 1)">Status</th>
                    <th class="center sort" style="width: 21%;" onclick="SortTableTxt('employees', 1)">Created</th>
                    <th class="center sort" style="width: 21%;" onclick="SortTableTxt('employees', 1)">Modified</th>
                    <th class="action">Delete</th>
                </tr>
                {%- for item in list %}
                <tr>
                    <td class="id"><a href="{{ url_for('hr.employee_edit', employee_id=item.employee_id) }}">{{ item.employee_id }}</a></td>
                    <td class="center"><a href="{{ url_for('hr.employee_sheet', employee_id=item.employee_id) }}">E-{{ '%07d' | format(item.employee_id|int) }}</a></td>
                    <td class="left"><a href="{{ url_for('hr.employee_sheet', employee_id=item.employee_id) }}">{{ item.given_name }} {{ item.surname }}</a></td>
                    <td class="center"><a href="{{ url_for('hr.employee_edit', employee_id=item.employee_id) }}">{{ item.employee.status.title }}</a></td>
                    <td class="center"><a href="{{ url_for('hr.employee_edit', employee_id=item.employee_id) }}">{{ item.employee.created }}</a></td>
                    <td class="center"><a href="{{ url_for('hr.employee_edit', employee_id=item.employee_id) }}">{{ item.employee.modified }}</a></td>
                    <td class="action">
                        <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete{{ item.employee_id }}" 
                        value="{{ url_for('hr.employee_delete', employee_id=item.employee_id) }}" 
                        onclick="DeleteFunction('delete{{ item.employee_id }}', 'employee')">
                    </td>
                </tr>
                {%- endfor %}
            </table>
        </div>
    </div> 
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content" action="/action_page.php" method="POST" id='form'>
            <div class="modal-container">
                <h1 id="msg-h1"></h1>
                <p id="msg-p"></p>
                <div class="clearfix">
                    <button class="cancelbtn modal-button" type="button" 
                        onclick="document.getElementById('id01').style.display='none'">Cancel
                    </button>
                    <input class="deletebtn modal-button" type="submit" value="Delete" 
                    onclick="document.getElementById('id01').style.display='none'">
                </div>
            </div>
        </form>
    </div>
    {% endblock %}