{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-10 col-s-10">
        {%- for message in get_flashed_messages() %}
        <div>
            {%- if "Error" not in message: %}
            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
            {%- if "Error" in message: %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
            </div>
            {%- endif %}
        </div>
        {%- endfor %}
        <div class="col-6 col-s-6">
            <div class="sheet-container">
                <div class="sheet-header background">
                    <div class="sheet-header-title">
                        <b>Leave</b>
                    </div>
                    <div class="sheet-header-icon">
                        <a class="sheet-icon" href="{{ url_for('hr.leave_balance_add', employee_id=employee_id) }}">
                            <div class="tooltip">
                                <span class="tooltiptext">Add leave</span>
                                <img class="icon" src="{{ url_for('.static', filename='icons/add_white.png') }}">
                            </div>
                        </a>
                    </div>
                </div>
                {%- for item in leave_balance_list %}
                <div class="sheet-row">
                    <div class="sheet-label-col">
                        <div class="sheet-label-text"><b>Leave {{loop.index}}</b></div>
                    </div>
                    <div class="sheet-icon-col">
                        <div class="tooltip">
                            <span class="tooltiptext">Delete leave</span>
                            <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_leave_balance{{ item.balance_id }}" 
                            value="{{ url_for('hr.leave_balance_delete', employee_id=employee_id, balance_id=item.balance_id) }}" 
                            onclick="DeleteFunction('delete_leave_balance{{ item.balance_id }}', 'leave balance')">
                        </div>
                    </div>
                    <div class="sheet-data-col">
                        <div class="sheet-data-text">
                            <a class="data-link" href="{{ url_for('hr.leave_balance_edit', employee_id=employee_id, balance_id=item.balance_id) }}">
                                <div>{{ item.leave_type.type_title }}</div>
                                <div>- Expiry date: {{ item.expiry_date.strftime('%Y-%m-%d') }}</div>
                                <div>- Leave days: {{ item.leave_days }}</div>
                                <div>- Balance: {{ item.leave_balance }}</div>
                            </a>
                            <div class="sheet-header background">
                                <div class="sheet-col-sub-header">- Taken: {{ item.leave_taken }}</div>
                                {%- if item.leave_taken < item.leave_days %}
                                <div>
                                    <a class="sheet-col-sub-icon" href="{{ url_for('hr.leave_taken_add', employee_id=employee_id, balance_id=item.balance_id) }}">
                                        <div class="tooltip">
                                            <span class="tooltiptext">Add taken</span>
                                            <img class="icon" src="{{ url_for('.static', filename='icons/add.png') }}">
                                        </div>
                                    </a>
                                </div>
                                {%- endif %}
                            </div>
                            {%- for child in leave_taken_list %}
                            {%- if child.balance_id == item.balance_id %}
                            <div class="sheet-row">
                                <div class="sheet-icon-col">
                                    <div class="tooltip">
                                        <span class="tooltiptext">Delete taken</span>
                                        <input class="icon" type="image" src="{{ url_for('.static', filename='icons/minus.png') }}" id="delete_leave_taken{{ child.taken_id }}" 
                                        value="{{ url_for('hr.leave_taken_delete', employee_id=employee_id, balance_id=item.balance_id, taken_id=child.taken_id) }}" 
                                        onclick="DeleteFunction('delete_leave_taken{{ child.taken_id }}', 'leave taken')">
                                    </div>
                                </div>
                                <div class="sheet-sub-data-col">
                                    <div class="sheet-data-text" >
                                        <a class="data-link" href="{{ url_for('hr.leave_taken_edit', employee_id=employee_id, balance_id=item.balance_id, taken_id=child.taken_id) }}">
                                            <div>{{ child.start_date.strftime('%Y-%m-%d') }} -> {{ child.end_date.strftime('%Y-%m-%d') }} ({{ child.delta() }} days)</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {%- endif %}
                            {%- endfor %}
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
    </div>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content" action="/action_page.php" method="POST" id='form'>
            <div class="modal-container">
                <h1 id="msg-h1"></h1>
                <p id="msg-p"></p>
                <div class="clearfix">
                    <button class="cancelbtn modal-button" type="button" 
                        onclick="document.getElementById('id01').style.display='none'">Cancel
                    </button>
                    <input class="deletebtn modal-button" type="submit" value="Delete" 
                    onclick="document.getElementById('id01').style.display='none'">
                </div>
            </div>
        </form>
    </div>
    {% endblock %}