{% extends 'home/base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a class="menu-link" href="{{ url_for('hr.marital_list') }}"> ❰ Back</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <form action="" method="POST" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <div class="data col-6 col-s-6">
                    {%- for message in get_flashed_messages() %}
                    <div>
                        {%- if "Error" not in message: %}
                        <div class="alert success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                        {%- if "Error" in message: %}
                        <div class="alert error">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                    </div>
                    {%- endfor %}
                    <div class="form container">
                        <div class="form-row {% if form.marital_status.errors %}error{% endif %}">
                            <div class="label-col">
                                <label class="field-label" for="marital">{{ form.marital_status.label }}</label>
                            </div>
                            <div class="input-col">
                                {{ form.marital_status}}
                                {%- for error in form.marital_status.errors %}
                                {%- if form.marital_status.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                                {%- endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="submit-col">
                                <input class="field-submit" type="submit" value="Submit">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}