{% extends 'home/base.html' %}
    {% block content %}    <div class="row">
        <div class="col-1 col-s-1">
        </div>
        <div class="col-5 col-s-5">
            {%- for message in get_flashed_messages() %}
            <div>
                {%- if "Error" not in message: %}
                <div class="alert success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                </div>
                {%- endif %}
                {%- if "Error" in message: %}
                <div class="alert error">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                </div>
                {%- endif %}
            </div>
            {%- endfor %}
            <form action="" method="POST" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <div class="form-container">
                    <div class="form-row {% if form.terms.errors %}error{% endif %}">
                        <div class="label-col">
                            <label class="field-label" for="terms">{{ form.terms.label }}</label>
                        </div>
                        <div class="input-col">
                            {{ form.terms}}
                            {%- for error in form.terms.errors %}
                            {%- if form.terms.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                            {%- endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="submit-col">
                            <input class="field-submit" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}