{% extends 'main/base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a href="{{ url_for('scale.weight') }}"> ❰ Back</a>
            <a href="{{ url_for('scale.zero') }}"> ❱ Zero</a>
            <a href="{{ url_for('scale.span') }}"> ❱ Span</a>
            <a href="{{ url_for('scale.offset') }}"> ❱ Offset</a>
            <a href="{{ url_for('scale.comments') }}"> ❱ Comments</a>
            <a href="{{ url_for('scale.alarms') }}"> ❱ Alarms</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <div class="data col-5 col-s-5">
                <div class="parameter container">
                    <a href="{{ url_for('scale.zero') }}">
                        <div class="parameter-row">
                            <p class="parameter-label" for="raw_zero_label">Raw value (Zero)</p>
                            <p class="parameter-value" for="raw_zero_value">{{ scale.raw_zero }}</p>
                            <p class="parameter-unit" for="raw_zero_unit">bits</p>
                        </div>
                    </a>
                    <div class="parameter-row">
                        <p class="parameter-label" for="raw_span_label">Raw value (Span)</p>
                        <p class="parameter-value" for="raw_span_value">{{ scale.raw_span }}</p>
                        <p class="parameter-unit" for="raw_span_unit">bits</p>
                    </div>
                    <div class="parameter-row">
                        <p class="parameter-label" for="cal_zero_label">Zero</p>
                        <p class="parameter-value" for="cal_zero_value">{{ scale.zero }}</p>
                        <p class="parameter-unit" for="cal_zero_unit">kg</p>
                    </div>
                    <div class="parameter-row">
                        <p class="parameter-label" for="cal_span_label">Span</p>
                        <p class="parameter-value" for="cal_span_value">{{ scale.span }}</p>
                        <p class="parameter-unit" for="cal_span_unit">kg</p>
                    </div>
                    <div class="parameter-row">
                        <p class="parameter-label" for="cal_offset_label">Offset</p>
                        <p class="parameter-value" for="cal_offset_value">{{ scale.offset }}</p>
                        <p class="parameter-unit" for="cal_offset_unit">kg</p>
                    </div>
                    <div class="parameter-row">
                        <p class="parameter-label" for="cal_comments_label">Comments</p>
                        <p class="parameter-comment" for="cal_comments_value">{{ scale.comments }}</p>
                    </div>
                </div>
            </div>
            <div class="data col-5 col-s-5">
                <div class="parameter container">
                    <div class="parameter-row">
                        <p class="parameter-label" for="alarm_high_label">High alarm</p>
                        <p class="parameter-value" for="alarm_high_value">{{ scale.alarm_H }}</p>
                        <p class="parameter-unit" for="alarm_high_unit">%</p>
                    </div>
                    <div class="parameter-row">
                        <p class="parameter-label" for="alarm_low_label">Low alarm</p>
                        <p class="parameter-value" for="alarm_low_value">{{ scale.alarm_L}}</p>
                        <p class="parameter-unit" for="alarm_low_unit">%</p>
                    </div>
                    <div class="parameter-row">
                        <p class="parameter-label" for="alarm_low_low_label">Low low alarm</p>
                        <p class="parameter-value" for="alarm_low_low_value">{{ scale.alarm_LL }}</p>
                        <p class="parameter-unit" for="alarm_low_low_unit">%</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}