{% extends 'main/base.html' %}
    {% block content %}
        <div class="menu col-2 col-s-2">
            <a href="{{ url_for('scale.calibration') }}"> ❰ Back</a>
        </div>
        <div class="data col-10 col-s-10">
            <div class="heading background">
                <div class="text">
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <form action="" method="POST" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <div class="data col-6 col-s-6">
                    {%- for message in get_flashed_messages() %}
                    <div>
                        {%- if "Error" not in message: %}
                        <div class="alert success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                        {%- if "Error" in message: %}
                        <div class="alert error">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
                        </div>
                        {%- endif %}
                    </div>
                    {%- endfor %}
                    <div class="form container">
                        <div class="form-row {% if form.raw_zero.errors %}error{% endif %}">
                            <div class="label-col">
                                <label class="field-label" for="raw_zero">{{ form.raw_zero.label }}</label>
                            </div>
                            <a href="{{ url_for('scale.view_raw', id='zero') }}">
                                <div class="input-col">
                                    {{ form.raw_zero() }}
                                    {%- for error in form.raw_zero.errors %}
                                    {%- if form.raw_zero.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                                    {%- endfor %}
                                </div>
                            </a>
                        </div>
                        <div class="form-row {% if form.zero.errors %}error{% endif %}">
                            <div class="label-col">
                                <label class="field-label" for="zero">{{ form.zero.label }}</label>
                            </div>
                            <div class="input-col">
                                {{ form.zero() }}
                                {%- for error in form.zero.errors %}
                                {%- if form.zero.errors %}<div class="error-message">{{ error }}</div>{%- endif %}
                                {%- endfor %}
                            </div>
                        </div> 
                        <div class="form-row">
                            {{ form.submit() }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}