/* /main/static/style.css */

/* Base Style */
* {
  box-sizing: border-box;
}

html {
  font-family: Calibri, sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
 
.header {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.header-block {
  display: inline-block;
}

.menu {
  float: left;
  padding: 18px;
}

.menu a:link, a:visited {
  padding: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: 6px solid #0084ff;
  margin-bottom: 7px;
  background-color:  #000000;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.menu a:hover, a:active {
  background-color: #3b3b3b;
}

.heading {
  display: inline-block;
  position: relative;
  width: 100%;
}

.heading.background{
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 3px solid #0084ff;
}

.heading div.text {
  margin: auto;
  width: auto;
  display: inline-block;
  position: relative;
  text-align: left;
}

.heading div.count {
  float: right;
  padding-top: 18px;
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.heading div.group {
  float: right;
  padding-top: 25px;
  padding-bottom: 10px;
  width: 200px;
}

.heading div.icon {
  position: relative;
  float: right; 
  padding: 5px;
  margin: 0px; 
  height: 30px;
  width: 40px;
}

.data { 
  float: left;
  padding: 18px 0px 18px 0px;
  color: #3b3b3b;
}

.footer {
  background-color: #ffffff;
  color: #0b566e;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  border-radius: 0px;
  margin-top: 10px;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
  
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


/* Weight */

.weight-container {
  display: table;
  width: 100%;
  padding: 8px 20px;
  border-radius: 10px;
  border: 6px solid #c4c4c4;
  background-color: #f2f2f2;
}

.weight-container .left {
  float: left;
  width: 80%;
  line-height: 25vw;
  font-size: 25vw;
  text-align: right;
  color: #221f1f;
}

.weight-container .right {
  float: left;
  width: 20%;
  line-height: 25vw;
  font-size: 10vw;
  text-align: center;
}

.weight-date {
  width: 100%;
  line-height: 5vw;
  font-size: 2.5vw;
  text-align: center;
}


/* Raw form Style */

.raw-container {
  width: 30%;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

.progress-label {
  width: 100%;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
}

.progress-block {
  width: 100%; 
  background-color: lightgray; 
  border-radius: 4px;
}

.progress {
  width: 1%; 
  height: 8px; 
  background-color: blue; 
  border-radius: 4px;
}

.raw-value {
  width: 100%;
  line-height: 60px;
  font-size: 40px;
  text-align: center;
}

.buttons-container{
  width: 100%;
  padding: 8px 20px;
  content: "";
  clear: both;
  display: table;
}

.button-block {
  float: left;
  width: 50%;
  padding: 10px;
}

.button-submit{
  background-color: #3757e7;
  color: white;
  padding: 12px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #2a40a0;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .raw-container, .parameter-value + .label {
    width: 100%;
    margin-top: 10;
  }
}


/* parameter Style */

.parameter.container {
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 20px;
}

.parameter-row {
  width: 100%;
  padding: 0px 40px 0px 40px;
  content: "";
  clear: both;
  display: table;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 4px;
}

.parameter-label {
  float: left;
  width: 50%;
  font-weight: bold;
  color: #595959;
}

.parameter-value {
  float: left;
  width: 15%;
  text-align: right;
  font-weight: bold;
  color: #595959;
  padding-right: 10px;
}

.parameter-unit {
  float: left;
  width: 35%;
  text-align: left;
  font-weight: bold;
  color: #595959;
}

.parameter-comment {
  float: left;
  width: 45%;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
  color: #595959;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .parameter-label-col, .parameter-value + .label {
    width: 100%;
    margin-top: 10;
  }
}


/* Aterts */

.alert {
  padding: 20px;
  color: white;
  opacity: 10;
  transition: opacity 0.6s;
  margin-bottom: 10px;
  border-radius: 5px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.alert.error {background-color: #f44336;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Error message */

.form-row .error-message {
  display: none;
}

.error label {
  color: #cc0033;
}

.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

.error-message {
  display: none;
}

.error input {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}

.error .error-message {
  display: inline-block;
  padding: 3px;
}


/* Form Style */

.form.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-row {
  width: 100%;
  padding: 8px 20px;
  content: "";
  clear: both;
  display: table;
}

.label-col {
  float: left;
  width: 25%;
}
  
.input-col {
  float: right;
  width: 70%;
}

.field-label {
  padding: 10px 10px 10px 0;
  display: inline-block;
}

.field-data, select, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; 
}

.field-data, select, textarea {
  width: 100%;
}

.field-submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.field-submit:hover {
  background-color: #45a049;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .label-col, .input-col, .field-submit {
    width: 100%;
    margin-top: 10;
  }
}


/* Table header */

.table-top {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.table-top th.search{
  width: 95%;
}

.table-top th.action{
  width: 5%;
  padding-left: 10px;
  padding-right: 10px;
  text-align:center;
}


/* Search */

.search-box {
  margin: 0px;
  position: relative;
  height: 30px;
  float: right;
  padding: 5px;
}

.search-text {
  height: 30px;
  font-size: 15px;
  display: inline-block;
  border: none;
  outline: none;
  color: rgb(40, 40, 40);
  padding: 5px;
  padding-right: 30px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search-text:focus:hover {
  border-top: 1px solid red;
}

.search-text:focus {
  width: 200px;
  z-index: 1;
  border-top: 1px solid rgb(80, 80, 80);
  cursor: text;
}

.search-submit {
  height: 30px;
  width: 30px;
  float: right;
  text-indent: -1000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0.0;
  transition: opacity .4s ease;
}

.search-submit:hover {
  opacity: 0.0;
}


/* Table list */

.table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.table caption {
  padding: 20px;
  caption-side: bottom;
}

.table caption div {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #0b566e;
}

.table th:hover.sort{
  cursor: pointer;
  background-color: #1f1e1e;
}

.table th.id, td.id{
  width: 5%;
  text-align: right;
}

.table th.action, td.action{
  width: 5%;
  padding-left: 10px;
  padding-right: 10px;
  text-align:center;
}

.table th.name, name{
  width: 30%; 
  text-align: left;
}

.table th.email, email{
  width: 50%; 
  text-align: left;
}

.table th.text, role{
  width: 15%; 
  text-align: left;
}

.table th.date, td.date{
  width: 15%; 
  text-align: left;
}

.table th.text, .table td.text {
  text-align: left;
}

.table th.code, td.code{
  width: 20%; 
  text-align: center;
}

.table th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #3b3b3b;
  color: white;
}

.table td {
  border: 1px solid #ddd;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table a:link {
  text-decoration: none;
  color: #221f1f;
}

.table a:visited {
  text-decoration: none;
  color: #221f1f;
}

.table a:hover {
  text-decoration: none;
  color: #0084ff;
}

.table a:active {
  text-decoration: none;
  color: #0084ff;
  background-color: transparent;
}

.table td a {
  display: block;
}

.icon {
  float: right;
  margin-left:5px;
  margin-right: 10px;
  height: 20px;
  width: 18px;
  cursor: pointer;
  box-shadow: grey;
}


/* Responsive layout */
@media screen and (max-width: 600px) {
  .table-overflow {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

/* Model */

/* Set a style for all buttons */
.modal-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
  border-radius: 5px;
}

.modal-button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: middle;
  width: 40%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.modal-container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Charts */

.chart-row {
  display: inline-block;
  position: relative;
  width: 100%;
}

.chart {
  text-align: center;
  padding: 10px;
}


/* Under construction page */

.page_image {
  display: inline-table;
  width: 100%;
  max-height: 200px;
  text-align: center;
}

.page_background {
  background-color: black;
}

.page_image .image-block {
  display: block;
  padding: 20px;
}

.page_image img {
  width: 100%;
  max-width: 400px;
}