{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-6 col-s-6">
        <div>
            <div class="page-row">
                <div class="page-col">
                    <div class="page-text"><h3><strong>{{ title }}</strong></h3></div>
                    <div class="page-text">{{ message }}</div>
                </div>
            </div>
            <div class="page-row">
                <div class="page-col">
                    <img src="{{ url_for('static', filename='icons/logo.png') }}" width="359" height="359 ">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}