{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-6 col-s-6">
        {% with messages = get_flashed_messages() %}
        <div>
            {% if messages %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ messages[0] }}
            </div>
            {%- endif %}
        </div>
        {% endwith %}
        <div>
            <div class="page-row">
                <div class="page-col">
                    <div class="page-text"><h3>{{ message }}</h3></div>
                </div>
            </div>
            <div class="page-row">
                <div class="page-col">
                    <img src="{{ url_for('static', filename='icons/erp.png') }}" width="401" height="336 ">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}