{% extends 'home/base.html' %}
    {% block content %}
    <div class="col-10 col-s-10">
        {% with messages = get_flashed_messages() %}
        <div>
            {% if messages %}
            <div class="alert error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ messages[0] }}
            </div>
            {%- endif %}
        </div>
        {% endwith %}  
        <div class="sheet-container">
            <div class="sheet-row">
                <div class="sheet-data-col">
                    <div class="sheet-data-text">{{ message }}</div>
                </div>
            </div>
            <div class="sheet-row">
                <div class="sheet-image-col">
                    <div class="sheet-image">
                        <img src="{{ url_for('static', filename='icons/erp.png') }}" width="401" height="336 ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}